*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59,50,50), rgb(22,28,29));
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
h1{
    margin-top: 30px;
}
h2{
    font-size: 3vw;
}

/*  Formulaire */
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputAdresse{
    width: 40vw;
    font-size: 1.5vw;       
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: 10px ;

}
.submit{
    outline: 0;
    border: 0;
    font-size: 1.5vw;

    border-radius: 10px ;
    margin-top: 10px;
    /* width: 20vw; */
    padding: 10px 20px;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(201, 201, 201);
}

/* Carte d'info du jour */

.card{
    overflow: hidden;
    margin: 30px 0;
    width: 50vw;
    height: 15vw;
    /* background-color: seagreen; */
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
    border-radius: 15px;
}
.meteo{
    width: 40%;
    height: 100%;
    background-color: rgb(73, 81, 130);
    display: flex;
    flex-direction: column;
}
.ciel{
    align-self: center;
}
.logo{
    align-self: center;
    width: 80%;
    height: 80%;
    /* background-color: rebeccapurple; */
    background-image: url('ressources/jour/01d.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.description{
    width: 60%;
    height: 100%;
    background-color: rgb(18, 122, 154);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Modele de carte */
.cardDay{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.25vw;
    height: 100%;
    border: solid 1px;
}

/* Infos pour la journée */
#today{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}
#today h2{
    text-align: center;
    margin: 10px 0;
}
.today{
    max-width: 100%;
    height: 130px;
    display: flex;
}

/* Infos pour la semaine */
#week .cardDay{
    width: 8.25vw;
}
#week{
    width: 60vw;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* border: solid 2px red; */
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
}
#week h2{
    margin: 10px;
    text-align: center;
}
.days{
    max-width: 100%;
    height: 130px;
    /* background-color: darkcyan; */
    overflow: hidden;
    display: flex;
    justify-content: start;
}

/* logo pour les minis cartes */

.dayWeather.logo{
    width: 30px;
    height: 30px;
}


/* Responsive */

@media screen and (max-width: 800px){
    h1{
        font-size: 6vw;
        
    }
    h2{ font-size: 5vw;}
    p{
        font-size: 4vw;
        line-height: 1.4;
    }
    .logo{
        width: 30vw;
    }
    .card{
        flex-direction: column;
        height: 50vw;
        width: 80vw;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        flex-shrink: 0;
        
    }
    .meteo{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .cardDay{
        width: 60px;
    }
    .description{
        height: 50%;
        width: 100%;
    }
    .days{
        font-size: 10px;
        height: 80px;
        overflow-x: scroll;
    }
    .dayWeather.logo{
        width: 30px;
        height: 30px;
    }
    #today{
        width: 80vw;
        /* height: 300px; */
       
    }
    .today{
        height: 80px;
       /* background-color: aqua;  */
        /* min-width: 600px; */
        /* width: 100%; */
        align-items: center;
        overflow-x: scroll;
    }
    #week{
        width: 80vw;
    }
    #week .cardDay{
        width: 60px;
    }
    
    /* Input  */
    .inputAdresse{
        width: 50vw;
        font-size: 4vw;
    }
    .submit{
        font-size: 4vw;
    }
}